            .header {
                /* position: absolute; */
                width: 130px;
                height: 24px;
                left: 386px;
                top: 51px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #060606;
            }
            
            .idea {
                position: absolute;
                width: 46px;
                height: 24px;
                left: 305px;
                top: 51px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #060606;
            }
            
            .blackLogo {
                position: absolute;
                width: 159px;
                height: 146px;
                left: 62px;
                top: -50px;
            }
            
            .piesakiSapni {
                position: absolute;
                width: 130px;
                height: 24px;
                left: 386px;
                top: 51px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #060606;
            }
            
            .uznemeji {
                position: absolute;
                width: 120px;
                height: 24px;
                left: 543px;
                top: 51px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #060606;
            }
            
            .sapnuBanka {
                position: absolute;
                width: 123px;
                height: 45px;
                left: 698px;
                top: 51px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #060606;
            }
            
            .sapnuAtbalsts {
                position: absolute;
                width: 153px;
                height: 45px;
                left: 856px;
                top: 51px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #060606;
            }
            
            .iedvesmuStasti {
                position: absolute;
                width: 188px;
                height: 29px;
                left: 1036px;
                top: 51px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #060606;
            }
            
            .lang {
                position: absolute;
                width: 29px;
                height: 29px;
                left: 1275px;
                top: 51px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #060606;
            }
            
            .video {
                position: absolute;
                width: 1366px;
                height: 722px;
                left: 0px;
                top: 47px;
            }
            
            .playButton {
                position: absolute;
                width: 86px;
                height: 83px;
                left: 640px;
                top: 366px;
                background: #FFA800;
            }
            
            .text-1 {
                position: absolute;
                width: 654px;
                height: 114px;
                left: 359px;
                top: 919px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #2F4858;
            }
            
            .zanda {
                position: absolute;
                width: 328px;
                height: 355px;
                left: 0px;
                top: 1197px;
                background: url(Zanda_1.jpg);
            }
            
            .picture_4 {
                position: absolute;
                width: 334px;
                height: 364px;
                left: 328px;
                top: 1202px;
                background: url(Sibilla_4.jpg);
            }
            
            .meita {
                position: absolute;
                width: 298px;
                height: 180px;
                left: 662px;
                top: 1202px;
                background: url(Brinuma_meita-15.jpg);
            }
            
            .Alina_1 {
                position: absolute;
                width: 298px;
                height: 184px;
                left: 662px;
                top: 1382px;
                background: url(Alina_1.jpg);
            }
            
            .anda {
                position: absolute;
                width: 406px;
                height: 383px;
                left: 960px;
                top: 1183px;
                background: url(Anda_2.jpg);
            }
            
            .text-2 {
                position: absolute;
                width: 394px;
                height: 29px;
                left: 220px;
                top: 1731px;
                font-family: Oswald;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                color: #2F4858;
            }
            
            .text-3 {
                position: absolute;
                width: 500px;
                height: 29px;
                left: 698px;
                top: 1731px;
                font-family: Oswald;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                color: #2F4858;
            }
            
            .button-1 {
                position: absolute;
                width: 233px;
                height: 50px;
                left: 300px;
                top: 1810px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                border-radius: 40px;
                background-color: #FFA800;
                display: inline-block;
                border: none;
            }
            
            .button-2 {
                position: absolute;
                border: none;
                width: 184.63px;
                height: 50px;
                left: 856.19px;
                top: 1810px;
                color: #FFFFFF;
                background: #C4C4C4;
                border-radius: 40px;
                background-color: #FFA800;
                display: inline-block;
            }
            
            .text-4 {
                position: absolute;
                width: 819px;
                height: 48px;
                left: 274px;
                top: 2010px;
                font-family: Oswald;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 44px;
                text-align: center;
                color: #2F4858;
            }
            
            .form-control-input-1 {
                position: absolute;
                width: 296px;
                height: 43px;
                left: 377px;
                top: 2113px;
                background: rgba(196, 196, 196, 0.4);
                border-radius: 6px;
                border: none;
            }
            
            .form-control-input-2 {
                position: absolute;
                width: 296px;
                height: 43px;
                left: 693px;
                top: 2113px;
                background: rgba(196, 196, 196, 0.4);
                border-radius: 6px;
                border: none;
            }
            
            .form-control-input-3 {
                border: none;
                position: absolute;
                width: 612px;
                height: 43px;
                left: 377px;
                top: 2171px;
                background: rgba(196, 196, 196, 0.4);
                border-radius: 6px;
            }
            
            .form-control-input-4 {
                border: none;
                padding-bottom: 189px;
                position: absolute;
                width: 612px;
                height: 232px;
                left: 377px;
                top: 2229px;
                background: rgba(196, 196, 196, 0.4);
                border-radius: 6px;
            }
            
            .importantText {
                position: absolute;
                width: 612px;
                height: 25px;
                left: 377px;
                top: 2476px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #2F4858;
            }
            
            .checkboc {
                position: absolute;
                width: 16px;
                height: 16px;
                left: 380px;
                top: 2529px;
                background: #E7E7E7;
                border-radius: 3px;
            }
            
            .text-5 {
                position: absolute;
                width: 572px;
                height: 39px;
                left: 417px;
                top: 2526px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #2F4858;
            }
            
            .button-3 {
                position: absolute;
                width: 182px;
                height: 62px;
                left: 592px;
                top: 2615px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                border-radius: 40px;
                background-color: #FFA800;
                border: none;
                display: inline-block;
            }